body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

}

/* Scrollbar Styles */

::-webkit-scrollbar {
  width: 12px;               /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;       /* Background of the scrollbar track */
  border-radius: 10px;       /* Optional: Rounds the edges of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #2c7d59; /* Green color for the scrollbar thumb */
  border-radius: 10px;       /* Rounded edges for a modern look */
  border: 3px solid #f1f1f1; /* Adds padding inside the thumb for better visual appearance */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1d5a40; /* Darker green on hover */
}
